* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden; /* Prevent scrollbars */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

a {
    text-decoration: none;
    color: black;
  }


  