* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}

button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

a {
    color: black;
  }

  .content {
    text-align: center;
}

p {
    margin-bottom: 0.2em;
}